body {
  background-color: #708090;
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
  color: #fff;
  margin-top: 0px;
  padding: 0px 0px;
  place-items: top;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.pic{
  border-radius: 50%;
  margin-top: 100px;
  box-shadow: 0 0 10px #000000;
}

h1{
  margin-top: 20px;
}

.input-box {
  width: 8%;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  font-size: 25px;
  text-align: center;
}

.inpuT{
  margin-top: 25px;
  margin-bottom: 15px;
}


.hide-box {
  width: 83px;
  border-radius: 15%;
  margin: 0px 0px 0px 3px;
  font-size: 25px;
  text-align: center;
  background-color: #708090;
  cursor: default;
  font-weight: bold;
}


.ans-box {
  width: 91px;
  border-radius: 15%;
  margin: 8px 40px;
  font-size: 25px;
  text-align: center;
  background-color: #708090;
  cursor: default;
  border: none;
  outline: none;
  color: white;
}


.Btn{
  width: 10%;
  transition: all 0.2s ease-in-out;
  padding: 12px 20px;
  margin: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  font-size: 25px;
  background-color: #90EE90;
  font-weight: bold;
}

.Btn:hover{
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  
}



.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: #52B05F;
  display: flex;
  margin-bottom: -15px;
  justify-content: center;
}

.navbar-text {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.navbar-dark .navbar-text a {
  color: #90EE90;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar-text:hover {
  color: #90EE90;
}

.navbar-dark .navbar-text a:hover {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.navbar-dark .navbar-text a:active{
  color: #c8ccc8;
  transition: all 0.1s ease-in-out;
}


.navbar-dark p {
  color: #90EE90;
  text-decoration: none;

}

.navbar-dark {
  background-color: #212529;
}

.app {
  font-size: 20px;
  margin-top: 1.4rem;

}

.head{
  font-weight: bold;
}

.col-1 {
  flex: 0 0 auto;
  width: 9.3%;
  margin: 0% 1% 1% 0%;
  
  
}

.col-4{
  flex: 0 0 auto;
  width: 27.9%;
  margin: 0% 1% 1% 0%;
}

.round{
  background-color: #44a351;
  border-radius: 30px;
  border: 3px solid #000000;
  padding: 10px;
}

.Guess{
  background-color: #44a351;
  border-radius: 30px;
  padding: 10px;
  border: 3px solid #000000;
}

.Numbers{
  background-color: #44a351;
  border-radius: 30px;
  border: 3px solid #000000;
  padding: 10px;
}

.Position{
  background-color: #44a351;
  border-radius: 30px;
  border: 3px solid #000000;
  padding: 10px;

}

button:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.bottomnav{
  margin-top: 10px;
  display: flex;
}

.Navbot{
  width: 100%;
}



.icon{
  margin-bottom: 1.5rem;
  font-size: 70px;
}
.group-icon{
  margin-top: 40px;
}

.ig{
  color: #44a351;
}

svg{
  color: #52B05F;
}

svg:hover{
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

svg:active{
  color: #c8ccc8;
  transition: all 0.1s ease-in-out;
}
  
  @media (max-width: 1280px) {
  
    
    .pic{
      border-radius: 50%;
      margin-top: 100px;
      box-shadow: 0 0 10px #000000;
    }
    
    h1{
      margin-top: 20px;
    }
    
    .input-box {
      width: 8%;
      padding: 12px 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px #000000;
      font-size: 20px;
      text-align: center;
    }
    
    .inpuT{
      margin-top: 25px;
      margin-bottom: 15px;
    }
    
    
    .hide-box {
      width: 70px;
      border-radius: 15%;
      margin: 0px 0px 0px 0px;
      font-size: 18px;
      text-align: center;
      background-color: #708090;
      cursor: default;
      font-weight: bold;
    }
    
    
    .ans-box {
      width: 91px;
      border-radius: 15%;
      margin: 8px 40px;
      font-size: 18px;
      text-align: center;
      background-color: #708090;
      cursor: default;
      border: none;
      outline: none;
      color: white;
    }
    
    
    .Btn{
      width: 10%;
      transition: all 0.2s ease-in-out;
      padding: 12px 20px;
      margin: 20px 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px #000000;
      font-size: 25px;
      background-color: #90EE90;
      font-weight: bold;
    }
    
    .Btn:hover{
      background-color: #ffffff;
      transition: all 0.2s ease-in-out;
      
    }
    
    .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
  }
    
    
    .navbar-brand {
      font-size: 20px;
      font-weight: bold;
      color: #52B05F;
      display: flex;
      margin-bottom: -15px;
      justify-content: center;
    }

    .IMG{
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }
    
    .navbar-text {
      font-size: 20px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      margin-right: 20px;
    }
    
    .navbar-dark .navbar-text a {
      color: #90EE90;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
    
    .navbar-text:hover {
      color: #90EE90;
    }
    
    .navbar-dark .navbar-text a:hover {
      color: #ffffff;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
    
    .navbar-dark .navbar-text a:active{
      color: #c8ccc8;
      transition: all 0.1s ease-in-out;
    }
    
    
    .navbar-dark p {
      color: #90EE90;
      text-decoration: none;
    
    }
    
    .navbar-dark {
      background-color: #212529;
    }
    
    .app {
      font-size: 20px;
      margin-top: 0.5rem;
    
    }
    
    .head{
      font-weight: bold;
    }
    
    .col-1 {
      flex: 0 0 auto;
      width: 9%;
      margin: 0% 1% 1% 0%;
      
      
    }
    
    .col-4{
      flex: 0 0 auto;
      width: 27%;
      margin: 0% 1% 1% 0%;
    }
    
    .round{
      background-color: #44a351;
      border-radius: 30px;
      border: 3px solid #000000;
      padding: 5px;
      font-size: 15px;
    }
    
    .Guess{
      background-color: #44a351;
      border-radius: 30px;
      padding: 5px;
      font-size: 15px;
      border: 3px solid #000000;
    }
    
    .Numbers{
      background-color: #44a351;
      border-radius: 30px;
      border: 3px solid #000000;
      padding: 5px;
      font-size: 15px;
    }
    
    .Position{
      background-color: #44a351;
      border-radius: 30px;
      border: 3px solid #000000;
      padding: 5px;
      font-size: 15px;
    
    }
    
    button:disabled {
      background-color: gray;
      color: white;
      cursor: not-allowed;
    }
    
    .bottomnav{
      margin-top: 10px;
      display: flex;
    }
    
    .Navbot{
      width: 100%;
    }
    
    
    
    .icon{
      margin-bottom: 1.5rem;
      font-size: 70px;
    }
    .group-icon{
      margin-top: 40px;
    }
    
    .ig{
      color: #44a351;
    }
    
    svg{
      color: #52B05F;
    }
    
    svg:hover{
      color: #ffffff;
      transition: all 0.2s ease-in-out;
    }
    
    svg:active{
      color: #c8ccc8;
      transition: all 0.1s ease-in-out;
    }
    
    
    }

     



@media (max-width: 768px) {
  
.container-fluid{
  padding: 0px;
}

  .IMG{
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
  
  .TEXT-Brand{
    font-size: 18px;
  }
  .navbar-text{
    font-size: 18px;
    margin-right: 10px;
  }
  .col-1 {
    flex: 0 0 auto;
    width: 17.5%;
    margin: 1% 1% 1% 1%;
    font-size: 14px;
  }
  
  .col-4{
    flex: 0 0 auto;
    width: 37.5%;
    margin: 1% 1% 1% 1%;
    font-size: 14px;
  }
  
  .mini{
    padding: 0px;
  }
  
  .hide-box {
    width: 33px;
    height: 35px;
    border-radius: 15%;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    text-align: center;
    background-color: #708090;
    cursor: default;
    font-weight: bold;
  }
  .ans-box {
    width: 48px;
    border-radius: 15%;
    margin: 4px 10px;
    font-size: 15px;
    text-align: center;
    
    background-color: #708090;
    cursor: default;
    border: none;
    outline: none;
    color: white;
  }
  
  .pic{
    border-radius: 50%;
    margin-top: 100px;
    box-shadow: 0 0 10px #000000;
    width: 200px;
    height: 200px;
  }
  
  
  .round{
    background-color: #44a351;
    border-radius: 30px;
    border: 3px solid #000000;
    padding: 5px;
    font-size: 14px;
  }
  
  .Guess{
    background-color: #44a351;
    border-radius: 30px;
    padding: 5px;
    border: 3px solid #000000;
    font-size: 14px;
  }
  
  .Numbers{
    background-color: #44a351;
    border-radius: 30px;
    border: 3px solid #000000;
    padding: 5px;
    font-size: 14px;
  }
  
  .Position{
    background-color: #44a351;
    border-radius: 30px;
    border: 3px solid #000000;
    padding: 5px;
    font-size: 14px;
  
  }
  .col-5 {
    flex: 0 0 auto;
    width: 80%;
  }
  
  .justify-content-md-center{
    justify-content: center;
  }
  
  .app{
    margin-top: 0.5rem;
  }
  .Btn{
    width: 30%;
    transition: all 0.2s ease-in-out;
    padding: 5px 10px;
    margin: 1px 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    background-color: #90EE90;
    font-weight: bold;
    font-size: 15px;
  }
  
  
  .col {
    flex: 1 0 0%;
    width: 1%;
  }
  .input-box {
    width: 18%;
    height: 8%;
    margin: 0px 5px 0px 5px;
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    font-size: 20px;
    text-align: center;
  }
  
  .inpuT{
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .icon{
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 50px;
  }
  
  }
